# Python / Django
venv/
__pycache__/
*.pyc
.env
backend/backend/.env
backend/db.sqlite3
staticfiles/
media/

# React
node_modules/
frontend/node_modules/
build/
frontend/build/

# Misc
.DS_Store
*.log